.container {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-main);
}

.input {
  width: 100%;
  padding: 0.625rem 1rem;
  border-radius: var(--radius-md);
  border: var(--border-width) solid var(--border-color);
  background-color: var(--surface-color);
  color: var(--text-main);
  font-size: 1rem;
  transition: all 0.2s;
  outline: none;
  box-shadow: var(--shadow-hard-sm);
  font-family: var(--font-sans);
}

.input:focus {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0px 0px var(--border-color);
}

.input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #f3f4f6;
}

.errorInput {
  border-color: #ef4444;
}

.errorInput:focus {
  box-shadow: 4px 4px 0px 0px #ef4444;
}

.errorMessage {
  font-size: 0.75rem;
  color: #eff6ff;
  background-color: #ef4444;
  padding: 2px 6px;
  border-radius: 4px;
  width: fit-content;
  font-weight: 500;
  border: 1px solid var(--border-color);
}
